@use "../../Styles/variables" as *;
.card {
  background-color: $card-bgcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 3px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 340px;
  height: 400px;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #000;
  transform: scale(1.05);
  cursor: pointer;
}

.card__image {
  flex: 1;
  padding: 10px;
  background-color: $card-bgcolor;
}

.card__image img {
  width: 100px;
  height: 300px;
  background-color: $card-bgcolor;
}

.card__details {
  flex: 2;
  padding: 10px;
  background-color: $card-bgcolor;
}

.card__name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
  background-color: $card-bgcolor;
  color: rgba(24, 17, 3, 0.854);
}

.card__tagline {
  font-weight: 700;
  font-style: italic;
  margin-bottom: 5px;
  background-color: $card-bgcolor;
  color: rgb(95, 67, 8);
}

.card__description {
  font-size: 0.8rem;
  line-height: 1.2;
  background-color: $card-bgcolor;
}
