.page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: -65px;
}

.page-info__number,
.page-info__results {
  font-size: 19px;
  margin: 5px 0;
}

.page-info__number {
  color: #333;
}

.page-info__results {
  color: #666;
}
