.beer-pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
}

.beer-pagination-button {
  background-color: #ca8505;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.beer-pagination-button:hover {
  background-color: #f7dc6f;
}

@media (max-width: 1023px) {
  .beer-pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 120px;
    height: 60px;
  }
}
